<div class="md:pb-8 py-5 md:px-0 px-3 mt-3">
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-12 md:gap-x-5 gap-y-2 gap-x-2">
      <div class="col-span-12">
        <h5 class="md:text-[24px] text-[20px] montserrat-600 mb-5">
          Total Due Amount: {{ total| currency:'₦' :'symbol':'3.2'}}
          ({{ total | numberToWords | titlecase }})
        </h5>
      </div>
    </div>
  </div>

  <div class="max-w-6xl mx-auto" *ngIf="!checkoutSuccess">
    <form [formGroup]="checkoutForm" (ngSubmit)="completeOrder()">
      <div class="bg-[#F2F2F2] md:px-6 md:py-10 p-4 rounded-[5px]">
        <div class="mb-4">
          <div class="flex flex-row w-full justify-between">
            <span class="montserrat-600">WhatsApp Number</span>
            <span>
              <img src="assets/images/checkout-whatsapp.png" class="w-[28px]" alt="WhatsApp" />
            </span>
          </div>
          <input id="gsm" formControlName="gsm" placeholder="WhatsApp Number" type="text"
            class="w-full bg-transparent h-[50px] border-b-[1px] border-t-0 border-r-0 border-l-0 border-[#000]"
            maxlength="11" title="Enter a valid Nigerian phone number starting with 070, 080, 081, 090, or 091"
            required />
          <div class="text-[#cf1d25]" *ngIf="
              checkoutForm.get('gsm')?.touched &&
              checkoutForm.get('gsm')?.invalid
            ">
            <small *ngIf="checkoutForm.get('gsm')?.errors?.['required']">Phone number is required.</small>
            <small *ngIf="checkoutForm.get('gsm')?.errors?.['pattern']">Invalid phone number.</small>
          </div>
        </div>
          <input type="hidden" formControlName="gclid" [value]="g_clid">
          <input type="hidden" formControlName="fbclid" [value]="fb_clid">
        <button type="submit"
          class="bg-[#78E146] py-3 rounded-[3px] w-full flex flex-row items-center justify-center gap-x-2">
          <img src="assets/images/checkout-whatsapp.png" class="w-[34px]" alt="WhatsApp" />
          <div class="text-[18px] montserrat-600">Checkout Via WhatsApp</div>
        </button>
      </div>
    </form>
  </div>
</div>