<div class="md:pb-0 lg:px-0 px-3 mb-2">
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-12 items-center">
      <!-- Loading Indicator -->
      <div *ngIf="isCategoryLoading" class="col-span-12 text-center my-5">
        <div class="loader"></div>
        <p>Loading Sub categories...</p>
      </div>
      <!-- Main Content -->
      <div
        *ngIf="!isCategoryLoading && subCategories.length > 0"
        class="col-span-12 mt-0"
        data-aos="fade-right"
      >
        <div class="owl-carousel owl-style">
          <div
            class="item cursor-pointer"
            *ngFor="let item of subCategories"
            [ngStyle]="{ 'margin-top': '-20px' }"
            (click)="navigateToMen(item.departmentId, item.destinationUrl)"
          >
            <div class="p-2">
              <ng-container *ngIf="item.imageUrl">
                <img
                  src="{{ item.imageUrl }}"
                  [ngClass]="{
                    'border-[0px] border-[#e2e2e2]':
                      item.departmentId === selectedCategory,
                    'border-[0px] border-[#000]':
                      item.departmentId !== selectedCategory
                  }"
                  class="md:max-w-[90%] max-w-full image-fit mx-auto shadow-md object-contain"
                  alt="{{ item.description }}"
                />
              </ng-container>
            </div>
            <span
              class="capitalize text-[12px] md:text-[16px] mt-2 block text-center"
            >
              {{
                item.description.replace("Men", "").replace("Shoes", "").trim()
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pb-5 lg:px-0 px-3">
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-12 items-center">
      <div class="col-span-12" data-aos="fade-left">
        <h5 class="md:text-[34px] text-[28px] montserrat-600 mb-0"></h5>
      </div>
      <!-- Loading Indicator -->
      <div *ngIf="isSizeLoading" class="col-span-12 text-center mt-5">
        <div class="loader"></div>
        <p>Loading sizes...</p>
      </div>
      <!-- Main Content -->
      <Span class="font-bold">Sizes: </Span>
      <div
        class="col-span-12 md:mt-6 mt-2"
        *ngIf="!isSizeLoading && sizes.length > 0"
      >
        <ul
          class="max-w-[100%] w-full flex gap-x-3"
          style="overflow: scroll hidden"
        >
          <li
            class="flex-shrink-0 mb-2"
            (click)="filterProductsForSizes('All')"
          >
            <span
              class="block md:text-[15px] text-[14px] border-[2px] px-3 py-22 rounded-[5px] bg-[#000] text-[#fff] border-[#000] hover:bg-[#fff] hover:text-[#000] transition ease-in-out delay-150 cursor-pointer"
            >
              All Sizes
            </span>
          </li>

          <li
            class="flex-shrink-0 mb-2"
            *ngFor="let item of sizes"
            (click)="filterProductsForSizes(item.sizeCode)"
          >
            <span
              class="block md:text-[15px] text-[14px] border-[2px] px-3 py-22 rounded-[5px] bg-[#000] text-[#fff] border-[#000] hover:bg-[#fff] hover:text-[#000] transition ease-in-out delay-150 cursor-pointer"
            >
              {{ item.sizeDesc?.split(" ")[1] }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="md:pb-0 pb-0 md:px-0 px-0">
  <div class="max-w-6xl mx-auto">
    <!-- Filter Icon for Mobile -->
    <!-- <div class="md:hidden flex justify-end mb-4">
      <button (click)="isFilterOpen = !isFilterOpen" class="flex items-center">
        <span class="text-lg ml-1">{{ isFilterOpen ? 'Close' : 'Filters' }}</span>
        <span *ngIf="!isFilterOpen" class="ml-2">
          <img src="assets/images/filter.jpg" alt="Filter Icon" class="w-8 h-8">
        </span>
        <span *ngIf="isFilterOpen" class="text-3xl text-[#06402B] ml-2">&times;</span>
      </button>
    </div> -->

    <!-- Filters  [ngClass]="{'hidden': isMobile && !isFilterOpen}" -->
    <div class="grid grid-cols-2 md:grid-cols-2 gap-0">
      <!-- Filter 1: Color -->
      <div class="flex items-center">
        <div class="custom-select-wrapper w-full">
          <select
            [(ngModel)]="selectedColors"
            (change)="onColorChange($event)"
            class="w-full py-3 md:text-[20px] text-[15px] border-none focus:outline-none custom-select"
          >
            <option value="0">Select Color</option>
            <option *ngFor="let item of colors" [value]="item.colorId">
              {{ item.colorDesc }}
            </option>
          </select>
        </div>
      </div>

      <!-- Filter 2: Style -->
      <div class="flex items-center">
        <div class="custom-select-wrapper w-full">
          <select
            [(ngModel)]="selectedStyles"
            (change)="onStyleChange($event)"
            class="w-full py-3 md:text-[20px] text-[15px] border-none focus:outline-none custom-select"
          >
            <option value="0">Select Style</option>
            <option *ngFor="let item of styles" [value]="item.styleId">
              {{ item.styleDesc }}
            </option>
          </select>
        </div>
      </div>

      <!-- Filter 3: Material -->
      <div class="flex items-center">
        <div class="custom-select-wrapper w-full">
          <select
            [(ngModel)]="selectedMaterial"
            (change)="onMaterialChange($event)"
            class="w-full py-3 md:text-[20px] text-[15px] border-none focus:outline-none custom-select"
          >
            <option value="0">Select Material</option>
            <option *ngFor="let item of materials" [value]="item.materialId">
              {{ item.materialDesc }}
            </option>
          </select>
        </div>
      </div>

      <!-- Filter 4: Sort By -->
      <div class="flex items-center">
        <div class="custom-select-wrapper w-full">
          <select
            [(ngModel)]="selectedSort"
            (change)="onSortChange($event)"
            class="w-full py-3 md:text-[20px] text-[15px] border-none focus:outline-none custom-select"
          >
            <option value="0">Sort By</option>
            <option *ngFor="let item of sorts" [value]="item.sortId">
              {{ item.sortName }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="md:pb-8 pb-5 lg:px-0 px-3">
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-12 md:gap-x-6 gap-x-4 md:gap-y-6">
      <!-- Section Header -->
      <div class="col-span-12">
        <!-- <h5 class="md:text-[34px] text-[28px] montserrat-600 mb-0">EXPLORE SHOP</h5> -->
        <!-- <p class="capitalize md:text-[16px] text-[14px] md:block hidden">
          Step into style with our wide range of shoes, slippers, sneakers, and joggers. Find the perfect pair for every occasion and elevate your footwear game.
        </p> -->
      </div>

      <!-- Products Grid -->
      <div class="col-span-12 mt-3">
        <div *ngIf="isProductLoading" class="col-span-12 text-center my-5">
          <div class="loader"></div>
          <p>Loading Products...</p>
        </div>
        <div
          class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
          *ngIf="isProducts"
          id="products"
          style="overflow-y: auto; max-height: 1200px"
          (scroll)="onScroll($event)"
        >
          <div
            *ngFor="let item of displayedProducts"
            class="relative cursor-pointer"
            (click)="viewProduct(item.destinationUrl)"
          >
            <div
              class="relative overflow-hidden bg-white shadow-lg rounded-lg h-full flex flex-col"
            >
              <!-- Responsive Image -->
              <img
                *ngIf="item.image1Url"
                src="{{ item.image1Url }}"
                alt="Image 1"
                class="w-full h-full object-contain"
              />

              <img
                *ngIf="!item.image1Url"
                src="assets/images/placeholder.png"
                alt="Placeholder Image"
                class="w-full h-auto object-cover"
              />

              <!-- Cart Icon at the bottom of the image (Mobile view only) -->
              <!-- <div *ngIf="isMobileView" class="flex justify-end mt-2">
                        <img src="assets/images/buy-cart.png" class="max-w-[40px]" alt="Cart Icon">
                    </div> -->

              <div class="px-4 pb-3 flex-1 flex flex-col justify-between">
                <h5 class="montserrat-500 text-[14px] mt-2 capitalize-nowrap">
                  {{ item.title }}
                </h5>
                <div class="mt-2">
                  <span
                    class="text-[20px] text-[#000] font-bold md:inline block md:mr-2"
                    >₦{{
                      item.internetPrice.toLocaleString("en-US", {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                      })
                    }}
                  </span>
                  <span class="text-[16px] line-through text-[#a0a0a0]"
                    >₦{{
                      item.storePrice.toLocaleString("en-US", {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                      })
                    }}</span
                  >
                </div>
                <div class="mt-2 flex justify-between items-center">
                  <ul class="flex flex-row gap-x-2 mt-1">
                    <li>
                      <a
                        href=""
                        class="block w-[20px] h-[20px] border-[1px] border-[#e2e2e2] rounded-full"
                        [ngStyle]="{ 'background-color': item.colorDesc }"
                      ></a>
                    </li>
                  </ul>
                  <span
                    class="flex justify-between items-center text-[13px] capitalize"
                  >
                    <span>
                      <span></span>
                      <span [ngStyle]="{ color: item.colorDesc }"></span>
                    </span>
                    <span
                      ><img
                        src="assets/images/buy-cart.png"
                        class="max-w-[40px]"
                        alt="Cart Icon"
                    /></span>
                  </span>
                </div>
                <ul class="flex flex-wrap gap-x-2 md:mt-0 mt-1">
                  <li *ngFor="let i of extractSizeNumber(item.sizeDesc)">
                    <span
                      class="text-[14px] cursor-pointer text-black-400"
                      (click)="selectedSizeClick(item.sizeDesc)"
                      >{{ i }}</span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Load More Loader -->
        <div *ngIf="isLoadingMore" class="text-center my-5">
          <div class="loader"></div>
          <p>Loading More Products...</p>
        </div>
      </div>
    </div>
  </div>
</div>
