<div class="bg-[#0000]/50 min-h-[200px] md:py-0 py-8 w-full relative flex flex-col items-center justify-center md:gap-y-3 gap-y-1">
    <img src="assets/images/about-bg.png" class="w-full h-full absolute left-0 top-0 max-h-[200px] object-cover" alt="">
    <div class="relative z-[1] text-center max-w-[1000px] mx-auto">
        <div class="montserrat-600 text-[#fff] lg:text-[26px] mb-2" data-aos="fade-up">
            Frequently Asked Questions
        </div>
        <!-- <div class="montserrat-500 text-[#fff]" data-aos="fade-up">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        </div> -->
    </div>
</div>

<div class="md:pt-12 py-5 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
              <h5 class="md:text-[34px] text-[28px] montserrat-600 mb-0" data-aos="fade-left">Faqs</h5>  
              <!-- <p class="capitalize md:text-[16px] text-[14px] md:block hidden">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised.
              </p> -->
            </div>
        </div>
    </div>
</div>

<div class="md:pb-10 pb-5 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto" data-aos="fade-up">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div id="accordion-collapse5" data-accordion="collapse" class="pt-0">
                    <div class="mb-5">
                        <h2 id="accordion-collapse5-heading-1">
                            <button type="button" class="aria-expanded:bg-transparent bg-[#FFFFFF] shadow-md aria-expanded:shadow-none flex flex-col justify-start w-full md:items-center overflow-hidden group relative z-[0] aria-expanded:border-none " data-accordion-target="#accordion-collapse5-body-1" aria-expanded="true" aria-controls="accordion-collapse5-body-1">
                                <div class="bg-[#000000] flex flex-row justify-between w-full items-center group-aria-expanded:border-b group-aria-expanded:border-[#000] lg:py-5 rounded-[5px] py-3 px-2 relative lg:px-5">
                                    <span class=" xl:text-[16px] lg:text-[14px] text-[14px] text-[#fff] montserrat-600 leading-snug  group-aria-expanded:pb-5 text-start montserrat-500 !pb-0">
                                        What is Kubona?
                                    </span>
                                    <img width="" height="" src="assets/images/plus.png" class="w-5 h-5 group-aria-expanded:hidden" alt="arrow">
                                    <img width="" height="" src="assets/images/minus.png" class="hidden w-5 h-5 group-aria-expanded:block" alt="arrow">
                                </div>
                                <div id="accordion-collapse5-body-1" class="hidden w-full" aria-labelledby="accordion-collapse5-heading-1">
                                    <div class="">
                                        <p class="px-4 md:text-[16px] text-[14px] text-[#000] leading-[1.5] text-start mt-4">
                                            Kubona is a Premium fashion retail brand that serves as the recommended source of Premium items that empower our customers to express their life aspirations and accomplishments through fashion.
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div class="mb-5">
                        <h2 id="accordion-collapse5-heading-2">
                            <button type="button" class="aria-expanded:bg-transparent bg-[#FFFFFF] shadow-md aria-expanded:shadow-none flex flex-col justify-start w-full md:items-center overflow-hidden group relative z-[0] aria-expanded:border-none " data-accordion-target="#accordion-collapse5-body-2" aria-expanded="true" aria-controls="accordion-collapse5-body-2">
                                <div class="bg-[#000000] flex flex-row justify-between w-full items-center group-aria-expanded:border-b group-aria-expanded:border-[#000] lg:py-5 rounded-[5px] py-3 px-2 relative lg:px-5">
                                    <span class=" xl:text-[16px] lg:text-[14px] text-[14px] text-[#fff] montserrat-600 leading-snug  group-aria-expanded:pb-5 text-start montserrat-500 !pb-0">
                                        Do you have a Physical Location where I can buy?
                                    </span>
                                    <img width="" height="" src="assets/images/plus.png" class="w-5 h-5 group-aria-expanded:hidden" alt="arrow">
                                    <img width="" height="" src="assets/images/minus.png" class="hidden w-5 h-5 group-aria-expanded:block" alt="arrow">
                                </div>
                                <div id="accordion-collapse5-body-2" class="hidden w-full" aria-labelledby="accordion-collapse5-heading-2">
                                    <div class="">
                                        <p class="px-4 md:text-[16px] text-[14px] text-[#000] leading-[1.5] text-start mt-4">
                                            You can buy at our Oniru, Lekki, Lagos Warehouse. Please Click here for the address.
                
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div class="mb-5">
                        <h2 id="accordion-collapse5-heading-3">
                            <button type="button" class="aria-expanded:bg-transparent bg-[#FFFFFF] shadow-md aria-expanded:shadow-none flex flex-col justify-start w-full md:items-center overflow-hidden group relative z-[0] aria-expanded:border-none " data-accordion-target="#accordion-collapse5-body-3" aria-expanded="true" aria-controls="accordion-collapse5-body-3">
                                <div class="bg-[#000000] flex flex-row justify-between w-full items-center group-aria-expanded:border-b group-aria-expanded:border-[#000] lg:py-5 rounded-[5px] py-3 px-2 relative lg:px-5">
                                    <span class=" xl:text-[16px] lg:text-[14px] text-[14px] text-[#fff] montserrat-600 leading-snug  group-aria-expanded:pb-5 text-start montserrat-500 !pb-0">
                                        When are your operating days and hours?
                
                                    </span>
                                    <img width="" height="" src="assets/images/plus.png" class="w-5 h-5 group-aria-expanded:hidden" alt="arrow">
                                    <img width="" height="" src="assets/images/minus.png" class="hidden w-5 h-5 group-aria-expanded:block" alt="arrow">
                                </div>
                                <div id="accordion-collapse5-body-3" class="hidden w-full" aria-labelledby="accordion-collapse5-heading-3">
                                    <div class="">
                                        <p class="px-4 md:text-[16px] text-[14px] text-[#000] leading-[1.5] text-start mt-4">
                                            We are opened physically between Monday - Friday, typically from 9am. Please Click here for our opening hours. We can however assist you outside our opening hours via WhatsApp.
                
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div class="mb-5">
                        <h2 id="accordion-collapse5-heading-4">
                            <button type="button" class="aria-expanded:bg-transparent bg-[#FFFFFF] shadow-md aria-expanded:shadow-none flex flex-col justify-start w-full md:items-center overflow-hidden group relative z-[0] aria-expanded:border-none " data-accordion-target="#accordion-collapse5-body-4" aria-expanded="true" aria-controls="accordion-collapse5-body-4">
                                <div class="bg-[#000000] flex flex-row justify-between w-full items-center group-aria-expanded:border-b group-aria-expanded:border-[#000] lg:py-5 rounded-[5px] py-3 px-2 relative lg:px-5">
                                    <span class=" xl:text-[16px] lg:text-[14px] text-[14px] text-[#fff] montserrat-600 leading-snug  group-aria-expanded:pb-5 text-start montserrat-500 !pb-0">
                                        Do you have branches outside Lagos?
                
                                    </span>
                                    <img width="" height="" src="assets/images/plus.png" class="w-5 h-5 group-aria-expanded:hidden" alt="arrow">
                                    <img width="" height="" src="assets/images/minus.png" class="hidden w-5 h-5 group-aria-expanded:block" alt="arrow">
                                </div>
                                <div id="accordion-collapse5-body-4" class="hidden w-full" aria-labelledby="accordion-collapse5-heading-4">
                                    <div class="">
                                        <p class="px-4 md:text-[16px] text-[14px] text-[#000] leading-[1.5] text-start mt-4">
                                            
                                            Currently, we are only located in Lagos. We however deliver to every state in Nigeria and have customers from all over Nigeria.
                
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div class="mb-5">
                        <h2 id="accordion-collapse5-heading-5">
                            <button type="button" class="aria-expanded:bg-transparent bg-[#FFFFFF] shadow-md aria-expanded:shadow-none flex flex-col justify-start w-full md:items-center overflow-hidden group relative z-[0] aria-expanded:border-none " data-accordion-target="#accordion-collapse5-body-5" aria-expanded="true" aria-controls="accordion-collapse5-body-5">
                                <div class="bg-[#000000] flex flex-row justify-between w-full items-center group-aria-expanded:border-b group-aria-expanded:border-[#000] lg:py-5 rounded-[5px] py-3 px-2 relative lg:px-5">
                                    <span class=" xl:text-[16px] lg:text-[14px] text-[14px] text-[#fff] montserrat-600 leading-snug  group-aria-expanded:pb-5 text-start montserrat-500 !pb-0">
                                        What type of shoes does your store sell?
                
                                    </span>
                                    <img width="" height="" src="assets/images/plus.png" class="w-5 h-5 group-aria-expanded:hidden" alt="arrow">
                                    <img width="" height="" src="assets/images/minus.png" class="hidden w-5 h-5 group-aria-expanded:block" alt="arrow">
                                </div>
                                <div id="accordion-collapse5-body-5" class="hidden w-full" aria-labelledby="accordion-collapse5-heading-5">
                                    <div class="">
                                        <p class="px-4 md:text-[16px] text-[14px] text-[#000] leading-[1.5] text-start mt-4">
                                            Our store offers a wide variety of premium Italian leather shoes for both men and women, including sneakers, sandals, loafers, and dress shoes.
                
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div class="mb-5">
                        <h2 id="accordion-collapse5-heading-6">
                            <button type="button" class="aria-expanded:bg-transparent bg-[#FFFFFF] shadow-md aria-expanded:shadow-none flex flex-col justify-start w-full md:items-center overflow-hidden group relative z-[0] aria-expanded:border-none " data-accordion-target="#accordion-collapse5-body-6" aria-expanded="true" aria-controls="accordion-collapse5-body-6">
                                <div class="bg-[#000000] flex flex-row justify-between w-full items-center group-aria-expanded:border-b group-aria-expanded:border-[#000] lg:py-5 rounded-[5px] py-3 px-2 relative lg:px-5">
                                    <span class=" xl:text-[16px] lg:text-[14px] text-[14px] text-[#fff] montserrat-600 leading-snug  group-aria-expanded:pb-5 text-start montserrat-500 !pb-0">
                                        Are your shoes regular fit?
                                    </span>
                                    <img width="" height="" src="assets/images/plus.png" class="w-5 h-5 group-aria-expanded:hidden" alt="arrow">
                                    <img width="" height="" src="assets/images/minus.png" class="hidden w-5 h-5 group-aria-expanded:block" alt="arrow">
                                </div>
                                <div id="accordion-collapse5-body-6" class="hidden w-full" aria-labelledby="accordion-collapse5-heading-6">
                                    <div class="">
                                        <p class="px-4 md:text-[16px] text-[14px] text-[#000] leading-[1.5] text-start mt-4">
                                            es please, our shoes are standard European cut.
                
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div class="mb-5">
                        <h2 id="accordion-collapse5-heading-7">
                            <button type="button" class="aria-expanded:bg-transparent bg-[#FFFFFF] shadow-md aria-expanded:shadow-none flex flex-col justify-start w-full md:items-center overflow-hidden group relative z-[0] aria-expanded:border-none " data-accordion-target="#accordion-collapse5-body-7" aria-expanded="true" aria-controls="accordion-collapse5-body-7">
                                <div class="bg-[#000000] flex flex-row justify-between w-full items-center group-aria-expanded:border-b group-aria-expanded:border-[#000] lg:py-5 rounded-[5px] py-3 px-2 relative lg:px-5">
                                    <span class=" xl:text-[16px] lg:text-[14px] text-[14px] text-[#fff] montserrat-600 leading-snug  group-aria-expanded:pb-5 text-start montserrat-500 !pb-0">
                                        Do I have to register before buying?
                
                                    </span>
                                    <img width="" height="" src="assets/images/plus.png" class="w-5 h-5 group-aria-expanded:hidden" alt="arrow">
                                    <img width="" height="" src="assets/images/minus.png" class="hidden w-5 h-5 group-aria-expanded:block" alt="arrow">
                                </div>
                                <div id="accordion-collapse5-body-7" class="hidden w-full" aria-labelledby="accordion-collapse5-heading-7">
                                    <div class="">
                                        <p class="px-4 md:text-[16px] text-[14px] text-[#000] leading-[1.5] text-start mt-4">
                                            No, you are not required to register before shopping. Just order what you need online.
                
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div class="mb-5">
                        <h2 id="accordion-collapse5-heading-8">
                            <button type="button" class="aria-expanded:bg-transparent bg-[#FFFFFF] shadow-md aria-expanded:shadow-none flex flex-col justify-start w-full md:items-center overflow-hidden group relative z-[0] aria-expanded:border-none " data-accordion-target="#accordion-collapse5-body-8" aria-expanded="true" aria-controls="accordion-collapse5-body-8">
                                <div class="bg-[#000000] flex flex-row justify-between w-full items-center group-aria-expanded:border-b group-aria-expanded:border-[#000] lg:py-5 rounded-[5px] py-3 px-2 relative lg:px-5">
                                    <span class=" xl:text-[16px] lg:text-[14px] text-[14px] text-[#fff] montserrat-600 leading-snug  group-aria-expanded:pb-5 text-start montserrat-500 !pb-0">
                                        How do I sell on kubona?
                
                                    </span>
                                    <img width="" height="" src="assets/images/plus.png" class="w-5 h-5 group-aria-expanded:hidden" alt="arrow">
                                    <img width="" height="" src="assets/images/minus.png" class="hidden w-5 h-5 group-aria-expanded:block" alt="arrow">
                                </div>
                                <div id="accordion-collapse5-body-8" class="hidden w-full" aria-labelledby="accordion-collapse5-heading-8">
                                    <div class="">
                                        <p class="px-4 md:text-[16px] text-[14px] text-[#000] leading-[1.5] text-start mt-4">
                                            We currently are not accepting new suppliers.
                
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
