<footer>
    <div class="bg-[#000] py-8 lg:px-0 px-3">
        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-12 md:gap-x-10">
                <div class="col-span-12 mb-5 md:text-left text-center">
                    <img src="assets/images/logo-lgray.png" class="inline-block" />
                </div>
                <div class="lg:col-span-5 col-span-12 md:text-left text-center">
                    <h3 class="text-[#fff] mb-3 montserrat-700 capitalize lg:text-[20px] text-[16px]">
                        About
                    </h3>
                    <p class="text-[#fff] capitalize lg:text-[16px] text-[14px] md:max-w-[300px]">
                        Kubona is a Premium fashion retail brand that serves as the
                        recommended source of Premium items that empower our customers to
                        express their life aspirations and accomplishments through fashion.
                    </p>
                </div>
                <div class="lg:col-span-7 col-span-12">
                    <div class="grid grid-cols-12">
                        <div class="lg:col-span-6 col-span-12 md:mt-0 mt-5 md:text-left text-center">
                            <h3 class="text-[#fff] mb-3 montserrat-700 capitalize lg:text-[20px] text-[16px]">
                                Help & Information
                            </h3>
                            <!-- Social Media Icons -->
                            <div class="md:col-span-4 col-span-12 flex justify-center items-center md:block">
                                <ul class="flex flex-row items-center gap-x-2">
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100078024670716"
                                            target="_blank">
                                            <img src="assets/images/icon-fb.png" alt="" class="w-[27px]" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/shopkubona/" target="_blank">
                                            <img src="assets/images/icon-ig.png" alt="" class="w-[22px]" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="assets/images/icon-tw.png" alt="" class="w-[22px]" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="assets/images/icon-yt.png" alt="" class="w-[22px]" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <br />
                            <h4 class="text-[#fff] mb-2 montserrat-700 capitalize lg:text-[18px] text-[14px]">
                                Quick Links
                            </h4>
                            <ul class="gap-y-3 flex flex-col">
                                <li>
                                    <a [routerLink]="['/']"
                                        class="cursor-pointer text-[#fff] capitalize lg:text-[16px] text-[14px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/faqs']"
                                        class="cursor-pointer text-[#fff] capitalize lg:text-[16px] text-[14px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        Faqs
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/about-us']"
                                        class="cursor-pointer text-[#fff] capitalize lg:text-[16px] text-[14px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/contact-us']"
                                        class="cursor-pointer text-[#fff] capitalize lg:text-[16px] text-[14px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/privacy-policy']"
                                        class="cursor-pointer text-[#fff] capitalize lg:text-[16px] text-[14px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/terms-and-conditions']"
                                        class="cursor-pointer text-[#fff] capitalize lg:text-[16px] text-[14px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        Terms & Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lg:col-span-6 col-span-12 md:mt-0 mt-5 md:text-left text-center">
                            <h3 class="text-[#fff] mb-3 montserrat-700 capitalize lg:text-[20px] text-[16px]">
                                Our Location
                            </h3>
                            <ul class="gap-y-3 flex flex-col">
                                <li>
                                    <p
                                        class="flex flex-row gap-x-2 items-center md:justify-start justify-center cursor-pointer text-[#fff] capitalize lg:text-[14px] text-[12px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        Our Warehouse is opened Monday to Friday from 9am to 5pm
                                        only, 10am to 6pm on Saturdays.
                                    </p>
                                </li>
                                <li>
                                    <a href="tel:07036110000"
                                        class="flex flex-row gap-x-2 items-center md:justify-start justify-center cursor-pointer text-[#fff] capitalize lg:text-[14px] text-[12px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        <img src="assets/images/call.png" class="inline-block w-[25px]"
                                            alt="" />07036110000
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:ebusiness@kubona.ng"
                                        class="flex flex-row gap-x-2 items-center md:justify-start justify-center cursor-pointer text-[#fff] capitalize lg:text-[14px] text-[12px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        <img src="assets/images/mail.png" class="inline-block w-[25px]"
                                            alt="" />ebusiness&#64;kubona.ng
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;"
                                        class="flex flex-row gap-x-2 items-start md:justify-start justify-center cursor-pointer text-[#fff] capitalize lg:text-[14px] text-[12px] relative before:content-[''] before:absolute before:bottom-[-3px] before:w-[100%] before:h-[2px] before:rounded-[4px] before:bg-[#ffffff] before:origin-right before:scale-x-0 before:hover:origin-left before:hover:scale-x-[1] relative before:transition-transform before:ease-in-out before:duration-200">
                                        <img src="assets/images/location.png" class="inline-block w-[25px]" alt="" />
                                        Kuboye Street, Oniru, Lekki, Lagos. Beside Healthplus
                                        Pharmacy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-span-12 mt-[70px]">
                    <hr class="mb-3" />
                    <ul class="flex flex-col md:flex-row items-center justify-center gap-x-4 mb-5">
                        <li>
                            <a [routerLink]="['/returns-and-exchange']" class="text-[#fff] text-[12px] cursor-pointer">
                                Returns & Exchange
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/payment-options']" class="text-[#fff] text-[12px] cursor-pointer">
                                Payment Options
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/vacancies']" class="text-[#fff] text-[12px] cursor-pointer">
                                Vacancies
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/delivery-info']" class="text-[#fff] text-[12px] cursor-pointer">
                                Delivery Info
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/how-to-place-order']" class="text-[#fff] text-[12px] cursor-pointer">
                                How To Order
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/how-to-check-your-size']"
                                class="text-[#fff] text-[12px] cursor-pointer">
                                How To Check Size
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>