<div class="bg-[#000] py-2 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12 items-center">
            <div class="md:col-span-4 col-span-12 md:block hidden">
                <ul class="flex flex-row items-center gap-x-2">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100078024670716" target="_blank">
                            <img src="assets/images/icon-fb.png" alt="" class="w-[27px]" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/shopkubona/" target="_blank">
                            <img src="assets/images/icon-ig.png" alt="" class="w-[22px]" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="assets/images/icon-tw.png" alt="" class="w-[22px]" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="assets/images/icon-yt.png" alt="" class="w-[22px]" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="md:col-span-4 col-span-12 text-center">
                <a href="https://wa.link/fqr2sj" target="_blank"
                    class="text-[#fff] text-[14px] flex flex-row items-center justify-center gap-x-1">
                    <img src="assets/images/icon-wa.png" class="w-[28px]" alt="" />
                    0703-611-0000
                </a>
            </div>
            <div class="md:col-span-4 col-span-12 md:block hidden">
                <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                    class="flex items-center ml-auto pe-1 text-[14px] font-sm text-[#fff] rounded-full" type="button">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-5 h-5 me-2 rounded-full" src="assets/images/flag-br.png" alt="user photo" />
                    GBP
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>

                <!-- Dropdown menu -->
                <div id="dropdownAvatarName"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <div class="px-4 py-3 text-sm text-[#000]">
                        <div class="font-medium">EURO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-2 lg:px-0 px-3 relative">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12 items-center">
            <!-- Mobile Menu Button -->
            <!-- Mobile Menu -->
            <div class="md:col-span-2 col-span-2 md:hidden block">
                <div class="flex flex-row items-center justify-center mt-[30px]">
                    <!-- Adjusted margin-top -->
                    <button (click)="toggleMenus()" aria-label="Menu Toggle" type="button" class="group">
                        <div
                            class="relative w-[20px] h-[50px] sm:absolute sm:top-[50px] sm:left-[10px] sm:w-[30px] sm:h-[50px]">
                            <span class="block absolute top-0 left-0 w-full h-[2px] bg-[#06402B] transition-transform"
                                [ngClass]="{ 'rotate-45': isMenuOpen }"></span>
                            <span class="block absolute top-[6px] left-0 w-full h-[2px] bg-[#06402B] transition-opacity"
                                [ngClass]="{ 'opacity-0': isMenuOpen }"></span>
                            <span
                                class="block absolute top-[12px] left-0 w-full h-[2px] bg-[#06402B] transition-transform"
                                [ngClass]="{ '-rotate-45': isMenuOpen }"></span>
                        </div>
                    </button>
                </div>

                <!-- Mobile Menu -->
                <nav [ngClass]="{ hidden: !isMenuOpen }"
                    class="fixed top-0 left-0 h-full w-[80%] z-50 bg-white py-5 shadow-lg">
                    <!-- Back to Main Menu - shown when Men or Women dropdown is open -->
                    <ul *ngIf="isMenDropdownOpen || isWomenDropdownOpen" class="flex flex-col gap-3 px-6">
                        <li (click)="closeDropdown()"
                            class="flex items-center cursor-pointer text-[#000] capitalize lg:text-[16px] text-[14px] py-3 border-b border-gray-200">
                            <span class="mr-2">&lt;</span> Back to Main Menu
                        </li>
                    </ul>

                    <!-- Main Menu -->
                    <ul class="flex flex-col gap-3 px-6">
                        <!-- MEN Dropdown -->
                        <li (click)="toggleDropdown('menDropdown')" class="relative">
                            <a
                                class="cursor-pointer text-[#000] capitalize lg:text-[16px] text-[14px] flex justify-between items-center py-3 border-b border-gray-200">
                                Men
                                <span [ngClass]="{ 'rotate-180': isMenDropdownOpen }"
                                    class="transition-transform">&gt;</span>
                            </a>

                            <ul *ngIf="isMenDropdownOpen" class="pl-4 flex flex-col gap-2 bg-white z-50">
                                <li>
                                    <a (click)="navigateToMen()"
                                        class="cursor-pointer text-[#000] capitalize lg:text-[16px] text-[14px] py-2">All</a>
                                </li>
                                <li>
                                    <a (click)="navigateToMenNewArrivals()"
                                        class="cursor-pointer text-[#000] capitalize lg:text-[16px] text-[14px] py-2">New
                                        Arrivals</a>
                                </li>
                                <li *ngFor="let subCategory of subCategories.men">
                                    <a class="cursor-pointer text-[#000] capitalize lg:text-[16px] text-[14px] py-2"
                                        (click)="navigateToMen(subCategory.departmentId, subCategory.description, subCategory.destinationUrl)">
                                        {{ subCategory.description }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- WOMEN Dropdown -->
                        <li (click)="toggleDropdown('womenDropdown')" class="relative">
                            <a
                                class="cursor-pointer text-[#000] capitalize lg:text-[16px] text-[14px] flex justify-between items-center py-3 border-b border-gray-200">
                                Women
                                <span [ngClass]="{ 'rotate-180': isWomenDropdownOpen }"
                                    class="transition-transform">&gt;</span>
                            </a>
                            <ul *ngIf="isWomenDropdownOpen" class="pl-4 flex flex-col gap-2 bg-white z-50">
                                <li>
                                    <a (click)="navigateToWomen()"
                                        class="cursor-pointer text-[#000] capitalize lg:text-[16px] text-[14px] py-2">All</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/women','new-arrivals']"
                                        class="cursor-pointer text-[#000] capitalize lg:text-[16px] text-[14px] py-2">New
                                        Arrivals</a>
                                </li>
                                <li *ngFor="let subCategory of subCategories.women">
                                    <a class="cursor-pointer text-[#000] capitalize lg:text-[16px] text-[14px] py-2"
                                        (click)="navigateToWomen(subCategory.departmentId, subCategory.description, subCategory.destinationUrl)">
                                        {{ subCategory.description }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a (click)="navigateToAccessories()"
                                class="cursor-pointer capitalize lg:text-[16px] text-[14px] py-3 border-b border-gray-200 flex justify-between">Accessories</a>
                        </li>

                        <!-- ABOUT US -->
                        <li>
                            <a [routerLink]="['/about-us']"
                                class="cursor-pointer capitalize lg:text-[16px] text-[14px] py-3 border-b border-gray-200 flex justify-between">
                                About
                                <span></span>
                            </a>
                        </li>

                        <!-- CONTACT -->
                        <li>
                            <a [routerLink]="['/contact-us']"
                                class="cursor-pointer capitalize lg:text-[16px] text-[14px] py-3 border-b border-gray-200 flex justify-between">
                                Contact
                                <span></span>
                            </a>
                        </li>

                        <!-- FAQs -->
                        <li>
                            <a [routerLink]="['/faqs']"
                                class="cursor-pointer capitalize lg:text-[16px] text-[14px] py-3 border-b border-gray-200 flex justify-between">
                                FAQs
                                <span></span>
                            </a>
                        </li>
                    </ul>

                    <!-- Social Media Section -->
                    <div class="mt-6 px-6">
                        <p class="capitalize text-[#000] lg:text-[16px] text-[14px]">
                            Follow Us
                        </p>
                        <div class="flex gap-3 mt-2">
                        </div>
                    </div>
                </nav>
            </div>

            <!-- Logo -->
            <div class="md:col-span-2 col-span-7">
                <a class="cursor-pointer" [routerLink]="['/']">
                    <img src="assets/images/logo-dark.png" class="max-w-[155px] sm:ml-0 sm:mr-auto" alt="Kubona" />
                </a>
            </div>

            <!-- Desktop Menu -->
            <div class="md:col-span-8 col-span-6 md:block hidden">
                <ul class="flex items-center justify-center gap-x-3">
                    <li (mouseenter)="toggleDropdown('menDropdown')" (mouseleave)="toggleDropdown('menDropdown')"
                        class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px] group relative">
                        Men
                        <!-- <span [ngClass]="{ 'rotate-180': isMenDropdownOpen }" class="ml-2 transition-transform">▼</span> -->
                        <ul *ngIf="isMenDropdownOpen" class="flex flex-col gap-2 absolute text-white bg-black z-50">
                            <li (click)="navigateToMen()"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                All
                            </li>
                            <li (click)="navigateToMenNewArrivals()"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                New Arrivals
                            </li>
                            <li *ngFor="let subCategory of subCategories.men"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]"
                                (click)="navigateToMen(subCategory.departmentId, subCategory.description, subCategory.destinationUrl)">
                                {{ subCategory.description }}
                            </li>
                        </ul>
                    </li>
                    <li (mouseenter)="toggleDropdown('womenDropdown')" (mouseleave)="toggleDropdown('womenDropdown')"
                        class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px] relative">
                        Women
                        <!-- <span [ngClass]="{ 'rotate-180': isWomenDropdownOpen }" class="ml-2 transition-transform">▼</span> -->
                        <ul *ngIf="isWomenDropdownOpen" class="flex flex-col gap-2 absolute text-white bg-black z-50">
                            <li (click)="navigateToWomen()"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                All
                            </li>
                            <li [routerLink]="['/women','new-arrivals']"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                New Arrivals
                            </li>
                            <li *ngFor="let subCategory of subCategories.women"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]"
                                (click)="navigateToWomen(subCategory.departmentId, subCategory.description, subCategory.destinationUrl)">
                                {{ subCategory.description }}
                            </li>
                        </ul>
                    </li>
                    <li (click)="navigateToAccessories()"
                        class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px]">
                        Accessories
                    </li>
                    <li>
                        <a [routerLink]="['/about-us']"
                            class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px]">About</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact-us']"
                            class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px]">Contact</a>
                    </li>
                    <li>
                        <a [routerLink]="['/faqs']"
                            class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px]">FAQs</a>
                    </li>
                </ul>
            </div>

            <!-- Search & Cart Icons -->
            <div class="md:col-span-2 col-span-3">
                <ul class="flex flex-row items-center justify-end gap-x-2">
                    <li>
                        <a class="cursor-pointer" [routerLink]="['/search']">
                            <img src="assets/images/icon-search.png" class="w-[24px]" alt="" />
                        </a>
                    </li>
                    <li>
                        <a class="cursor-pointer relative" (click)="navigateToCart()">
                            <img src="assets/images/icon-cart.png" class="w-[24px]" alt="" />
                            <span
                                class="absolute top-[-7px] right-[-7px] bg-red-500 text-white rounded-full text-xs w-[18px] h-[18px] flex items-center justify-center">
                                {{ cartItemCount }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>