<div class="bg-[#000] py-2 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12 items-center">
            <div class="md:col-span-4 col-span-12 md:block hidden">
                <ul class="flex flex-row items-center gap-x-2">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100078024670716" target="_blank">
                            <img src="assets/images/icon-fb.png" alt="" class="w-[27px]" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/shopkubona/" target="_blank">
                            <img src="assets/images/icon-ig.png" alt="" class="w-[22px]" />
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ShopKubona">
                            <img src="assets/images/icon-tw.png" alt="" class="w-[22px]" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@Shopkubona">
                            <img src="assets/images/icon-yt.png" alt="" class="w-[22px]" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="md:col-span-4 col-span-12 text-center">
                <a href="https://wa.link/fqr2sj" target="_blank"
                    class="text-[#fff] text-[14px] flex flex-row items-center justify-center gap-x-1">
                    <img src="assets/images/icon-wa.png" class="w-[28px]" alt="" />
                    0703-611-0000
                </a>
            </div>
        </div>
    </div>
</div>
<div class="py-2 lg:px-0 px-3 relative">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12 items-center">
            <!-- Mobile Menu Button -->
            <!-- Mobile Menu -->
            <div class="md:col-span-2 col-span-2 md:hidden block">
                <div class="flex flex-row items-center justify-center mt-[30px]">
                    <button (click)="toggleMenu()" aria-label="Menu Toggle" type="button" class="group">
                        <div class="relative w-[20px] h-[50px]">
                            <span class="block absolute top-0 left-0 w-full h-[2px] bg-[#06402B] transition-transform"
                                [ngClass]="{ 'rotate-45': isMenuOpen }"></span>
                            <span class="block absolute top-[6px] left-0 w-full h-[2px] bg-[#06402B] transition-opacity"
                                [ngClass]="{ 'opacity-0': isMenuOpen }"></span>
                            <span
                                class="block absolute top-[12px] left-0 w-full h-[2px] bg-[#06402B] transition-transform"
                                [ngClass]="{ '-rotate-45': isMenuOpen }"></span>
                        </div>
                    </button>
                </div>

                <!-- Backdrop to close menu when clicking outside -->
                <div *ngIf="isMenuOpen" class="fixed inset-0 bg-black opacity-50 z-40" (click)="toggleMenu()"></div>

                <nav [ngClass]="{ hidden: !isMenuOpen }"
                    class="fixed top-0 left-0 h-full w-[80%] z-50 bg-white py-5 shadow-lg">
                    <ul class="flex flex-col gap-3 px-6">

                        <!-- Men -->
                        <li (click)="toggleDropdown('men')" class="relative">
                            <a
                                class="cursor-pointer text-[#000] flex justify-between items-center py-3 border-b border-gray-200">
                                Men <span [ngClass]="{ 'rotate-180': activeDropdown === 'men' }">&gt;</span>
                            </a>
                            <ul *ngIf="activeDropdown === 'men'" class="pl-4 flex flex-col gap-2 bg-white">
                                <li (click)="navigateToMen('70610-All-Men-Shoes', 'All Men Shoes'); toggleMenu()">All
                                </li>
                                <li (click)="navigateToMenNewArrivals('70610-All-Men-Shoes', 'NewlyArrived Men Shoes'); toggleMenu()">New Arrivals</li>
                                <li *ngFor="let subCategory of mnCategories | slice:1; let i=index"
                                    (click)="navigateToMen(subCategory.destinationUrl, subCategory.description); toggleMenu()">
                                    {{ subCategory.description }} ({{subCategory.totalCount}})
                                </li>
                            </ul>
                        </li>

                        <!-- Women -->
                        <li (click)="toggleDropdown('women')" class="relative">
                            <a
                                class="cursor-pointer text-[#000] flex justify-between items-center py-3 border-b border-gray-200">
                                Women <span [ngClass]="{ 'rotate-180': activeDropdown === 'women' }">&gt;</span>
                            </a>
                            <ul *ngIf="activeDropdown === 'women'" class="pl-4 flex flex-col gap-2 bg-white">
                                <li (click)="navigateToMen('70710-Women-Shoes', 'All Women Shoes'); toggleMenu()">All
                                </li>
                                <li (click)="navigateToMenNewArrivals('70710-Women-Shoes', 'NewlyArrived Women Shoes'); toggleMenu()">New Arrivals</li>
                                <li *ngFor="let subCategory of wnCategories | slice:1; let i=index"
                                    (click)="navigateToMen(subCategory.destinationUrl, subCategory.description); toggleMenu()">
                                    {{ subCategory.description }} ({{subCategory.totalCount}})
                                </li>
                            </ul>
                        </li>

                        <!-- Watches -->
                        <li (click)="toggleDropdown('watches')" class="relative">
                            <a
                                class="cursor-pointer text-[#000] flex justify-between items-center py-3 border-b border-gray-200">
                                Watches <span [ngClass]="{ 'rotate-180': activeDropdown === 'watches' }">&gt;</span>
                            </a>
                            <ul *ngIf="activeDropdown === 'watches'" class="pl-4 flex flex-col gap-2 bg-white">
                                <li (click)="navigateToMen('70510-Watches', 'All Watches'); toggleMenu()">All</li>
                                <li (click)="navigateToMenNewArrivals('70510-Watches', 'NewlyArrived Watches'); toggleMenu()">New Arrivals</li>
                                <li *ngFor="let subCategory of waCategories | slice:1; let i=index"
                                    (click)="navigateToMen(subCategory.destinationUrl, subCategory.description); toggleMenu()">
                                    {{ subCategory.description }} ({{subCategory.totalCount}})
                                </li>
                            </ul>
                        </li>

                        <!-- Handbags -->
                        <li (click)="toggleDropdown('handbags')" class="relative">
                            <a
                                class="cursor-pointer text-[#000] flex justify-between items-center py-3 border-b border-gray-200">
                                Handbags <span [ngClass]="{ 'rotate-180': activeDropdown === 'handbags' }">&gt;</span>
                            </a>
                            <ul *ngIf="activeDropdown === 'handbags'" class="pl-4 flex flex-col gap-2 bg-white">
                                <li (click)="navigateToMen('70010-Handbags', 'All Handbags'); toggleMenu()">All</li>
                                <li (click)="navigateToMenNewArrivals('70010-Handbags', 'NewlyArrived Handbags'); toggleMenu()">New Arrivals</li>
                                <li *ngFor="let subCategory of haCategories | slice:1; let i=index"
                                    (click)="navigateToMen(subCategory.destinationUrl, subCategory.description); toggleMenu()">
                                    {{ subCategory.description }} ({{subCategory.totalCount}})
                                </li>
                            </ul>
                        </li>

                        <!-- Business Bags & Suitcases -->
                        <li (click)="toggleDropdown('business')" class="relative">
                            <a
                                class="cursor-pointer text-[#000] flex justify-between items-center py-3 border-b border-gray-200">
                                Business Bags & Suitcases <span
                                    [ngClass]="{ 'rotate-180': activeDropdown === 'business' }">&gt;</span>
                            </a>
                            <ul *ngIf="activeDropdown === 'business'" class="pl-4 flex flex-col gap-2 bg-white">
                                <li (click)="navigateToMen('70210-Business-Bags', 'All Business Bags'); toggleMenu()">
                                    All</li>
                                <li (click)="navigateToMenNewArrivals('70210-Business-Bags', 'NewlyArrived Business Bags'); toggleMenu()">New Arrivals</li>
                                <li *ngFor="let subCategory of bsCategories | slice:1; let i=index"
                                    (click)="navigateToMen(subCategory.destinationUrl, subCategory.description); toggleMenu()">
                                    {{ subCategory.description }} ({{subCategory.totalCount}})
                                </li>
                            </ul>
                        </li>

                        <!-- Accessories -->
                        <li (click)="toggleDropdown('accessories')" class="relative">
                            <a
                                class="cursor-pointer text-[#000] flex justify-between items-center py-3 border-b border-gray-200">
                                Accessories <span
                                    [ngClass]="{ 'rotate-180': activeDropdown === 'accessories' }">&gt;</span>
                            </a>
                            <ul *ngIf="activeDropdown === 'accessories'" class="pl-4 flex flex-col gap-2 bg-white">
                                <li (click)="navigateToMen('70340-Accessories', 'All Accessories'); toggleMenu()">All
                                </li>
                                <li (click)="navigateToMenNewArrivals('70340-Accessories', 'NewlyArrived Accessories'); toggleMenu()">New Arrivals</li>
                                <li *ngFor="let subCategory of asCategories | slice:1; let i=index"
                                    (click)="navigateToMen(subCategory.destinationUrl, subCategory.description); toggleMenu()">
                                    {{ subCategory.description }} ({{subCategory.totalCount}})
                                </li>
                            </ul>
                        </li>

                        <!-- Additional Links -->
                        <li><a [routerLink]="['/about']" (click)="closeMenu()">About</a></li>
                        <li><a [routerLink]="['/contact']" (click)="closeMenu()">Contact</a></li>
                        <li><a [routerLink]="['/faq']" (click)="closeMenu()">FAQs</a></li>

                    </ul>
                </nav>
            </div>

            <!-- Logo -->
            <div class="md:col-span-2 col-span-7">
                <a class="cursor-pointer" [routerLink]="['/']">
                    <img src="assets/images/logo-dark.png" class="max-w-[155px] sm:ml-0 sm:mr-auto" alt="Kubona" />
                </a>
            </div>

            <!-- Desktop Menu -->
            <div class="md:col-span-8 col-span-6 md:block hidden">
                <ul class="flex items-center justify-center gap-x-3">

                    <!-- Men Dropdown -->
                    <li (mouseenter)="toggleDropdown('menDropdown')" (mouseleave)="toggleDropdown('menDropdown')"
                        class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px] group relative">
                        Men
                        <ul *ngIf="activeDropdown === 'menDropdown'"
                            class="flex flex-col gap-2 absolute text-white bg-black z-50">
                            <li (click)="navigateToMen('70610-All-Men-Shoes', 'All Men Shoes')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                All
                            </li>
                            <li (click)="navigateToMenNewArrivals('70610-All-Men-Shoes', 'NewlyArrived Men Shoes')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                New Arrivals
                            </li>
                            <li *ngFor="let subCategory of mnCategories | slice:1;"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]"
                                (click)="navigateToMen(subCategory.destinationUrl, subCategory.description)">
                                {{ subCategory.description }} ({{ subCategory.totalCount }})
                            </li>
                        </ul>
                    </li>

                    <!-- Women Dropdown -->
                    <li (mouseenter)="toggleDropdown('womenDropdown')" (mouseleave)="toggleDropdown('womenDropdown')"
                        class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px] relative">
                        Women
                        <ul *ngIf="activeDropdown === 'womenDropdown'"
                            class="flex flex-col gap-2 absolute text-white bg-black z-50">
                            <li (click)="navigateToMen('70710-Women-Shoes', 'All Women Shoes')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                All
                            </li>
                            <li (click)="navigateToMenNewArrivals('70710-Women-Shoes', 'NewlyArrived Women Shoes')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                New Arrivals
                            </li>
                            <li *ngFor="let subCategory of wnCategories | slice:1;"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]"
                                (click)="navigateToMen(subCategory.destinationUrl, subCategory.description)">
                                {{ subCategory.description }} ({{ subCategory.totalCount }})
                            </li>
                        </ul>
                    </li>

                    <!-- Watches Dropdown -->
                    <li (mouseenter)="toggleDropdown('watchesDropdown')"
                        (mouseleave)="toggleDropdown('watchesDropdown')"
                        class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px] relative">
                        Watches
                        <ul *ngIf="activeDropdown === 'watchesDropdown'"
                            class="flex flex-col gap-2 absolute text-white bg-black z-50">
                            <li (click)="navigateToMen('70510-Watches', 'All Watches')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                All
                            </li>
                            <li (click)="navigateToMenNewArrivals('70510-Watches', 'NewlyArrived Watches')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                New Arrivals
                            </li>
                            <li *ngFor="let subCategory of waCategories | slice:1;"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]"
                                (click)="navigateToMen(subCategory.destinationUrl, subCategory.description)">
                                {{ subCategory.description }} ({{ subCategory.totalCount }})
                            </li>
                        </ul>
                    </li>

                    <!-- Handbags Dropdown -->
                    <li (mouseenter)="toggleDropdown('handbagsDropdown')"
                        (mouseleave)="toggleDropdown('handbagsDropdown')"
                        class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px] relative">
                        Handbags
                        <ul *ngIf="activeDropdown === 'handbagsDropdown'"
                            class="flex flex-col gap-2 absolute text-white bg-black z-50">
                            <li (click)="navigateToMen('70010-Handbags', 'All Handbags')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                All
                            </li>
                            <li (click)="navigateToMenNewArrivals('70010-Handbags', 'NewlyArrived Handbags')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                New Arrivals
                            </li>
                            <li *ngFor="let subCategory of haCategories | slice:1;"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]"
                                (click)="navigateToMen(subCategory.destinationUrl, subCategory.description)">
                                {{ subCategory.description }} ({{ subCategory.totalCount }})
                            </li>
                        </ul>
                    </li>

                    <!-- Business Bags & Suitcases Dropdown -->
                    <li (mouseenter)="toggleDropdown('businessDropdown')"
                        (mouseleave)="toggleDropdown('businessDropdown')"
                        class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px] relative">
                        Business Bags & Suitcases
                        <ul *ngIf="activeDropdown === 'businessDropdown'"
                            class="flex flex-col gap-2 absolute text-white bg-black z-50">
                            <li (click)="navigateToMen('70210-Business-Bags', 'All Business Bags')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                All
                            </li>
                            <li (click)="navigateToMenNewArrivals('70210-Business-Bags', 'NewlyArrived Business Bags')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                New Arrivals
                            </li>
                            <li *ngFor="let subCategory of bsCategories | slice:1;"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]"
                                (click)="navigateToMen(subCategory.destinationUrl, subCategory.description)">
                                {{ subCategory.description }} ({{ subCategory.totalCount }})
                            </li>
                        </ul>
                    </li>

                    <!-- Accessories Dropdown -->
                    <li (mouseenter)="toggleDropdown('accessoriesDropdown')"
                        (mouseleave)="toggleDropdown('accessoriesDropdown')"
                        class="font-bold cursor-pointer hover:bg-black hover:text-white capitalize lg:text-[16px] text-[14px] relative">
                        Accessories
                        <ul *ngIf="activeDropdown === 'accessoriesDropdown'"
                            class="flex flex-col gap-2 absolute text-white bg-black z-50">
                            <li (click)="navigateToMen('70340-Accessories', 'All Accessories')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                All
                            </li>
                            <li (click)="navigateToMenNewArrivals('70340-Accessories', 'NewlyArrived Accessories')"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]">
                                New Arrivals
                            </li>
                            <li *ngFor="let subCategory of asCategories | slice:1;"
                                class="hover:bg-white hover:text-black p-2 cursor-pointer capitalize lg:text-[16px] text-[14px]"
                                (click)="navigateToMen(subCategory.destinationUrl, subCategory.description)">
                                {{ subCategory.description }} ({{ subCategory.totalCount }})
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>


            <!-- Search & Cart Icons -->
            <div class="md:col-span-2 col-span-3">
                <ul class="flex flex-row items-center justify-end gap-x-2">
                    <li>
                        <a class="cursor-pointer" [routerLink]="['/search']">
                            <img src="assets/images/icon-search.png" class="w-[24px]" alt="" />
                        </a>
                    </li>
                    <li>
                        <a class="cursor-pointer relative" (click)="navigateToCart()">
                            <img src="assets/images/icon-cart.png" class="w-[24px]" alt="" />
                            <span
                                class="absolute top-[-7px] right-[-7px] bg-red-500 text-white rounded-full text-xs w-[18px] h-[18px] flex items-center justify-center">
                                {{ cartItemCount }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>