<div class="bg-[#0000]/50 min-h-[200px] md:py-0 py-8 w-full relative flex flex-col items-center justify-center md:gap-y-3 gap-y-1">
    <img src="assets/images/about-bg.png" class="w-full h-full absolute left-0 top-0 max-h-[200px] object-cover" alt="">
    <div class="relative z-[1] text-center max-w-[1000px] mx-auto">
        <div class="montserrat-600 text-[#fff] lg:text-[26px] mb-2" data-aos="fade-up">
            About Us
        </div>
        <div class="montserrat-500 text-[#fff]" data-aos="fade-up">
            Kubona is a Premium fashion retail brand that serves as the recommended source of Premium items that empower our customers to express their life aspirations and accomplishments through fashion.
        </div>
    </div>
</div>

<div class="md:pt-12 py-5 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
              <h5 class="md:text-[34px] text-[28px] montserrat-600 mb-0" data-aos="fade-left">About Kubona</h5>  
              <p class="md:text-[16px] text-[14px]">
                The word Kubona has a Bantu origin and used both in Xhosa (South Africa) and Kinyarwanda (Rwanda) and usage/context varies. Loosely translated as to sight or be sighted, and speaks of the personality of most of our customers which is very strong, audacious, confident and stylish. Simply put, our brand purpose is to inspire a society where people feel accomplished, confident, recognized and are more ambitious. At Kubona, we are working to build a company that aids individuals to express their self-worth through grace and style.
              </p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="py-3 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
              <h5 class="md:text-[34px] text-[28px] montserrat-600 mb-0" data-aos="fade-left">WE ARE DEALING IN</h5>  
            </div>
        </div>
    </div>
</div>

<div class="pt-0 pb-5 lg:px-0 px-3 mt-3 relative overflow-x-clip">
    <img src="assets/images/bg-about-dark.png" class="absolute md:h-auto h-[0px] top-[50%] z-[1] left-0 w-full translate-y-[-50%]" alt="">
    <div class="max-w-6xl mx-auto relative z-[5]">
        <div class="grid grid-cols-12 md:gap-x-12 gap-x-2">
            <div class="md:col-span-4 col-span-12">
                <div class="bg-[#fff] h-[350px] flex flex-col items-center justify-center text-center shadow-xl rounded-[15px]">
                    <img src="assets/images/preview-img.png" class="max-w-[150px] mb-3 mx-auto" alt="">
                    <div class="md:text-[30px] text-[20px]">
                        LOREM IPSUM
                    </div>
                </div>
            </div>
            <div class="md:col-span-4 col-span-12">
                <div class="bg-[#fff] h-[350px] flex flex-col items-center justify-center text-center shadow-xl rounded-[15px]">
                    <img src="assets/images/preview-img.png" class="max-w-[150px] mb-3 mx-auto" alt="">
                    <div class="md:text-[30px] text-[20px]">
                        LOREM IPSUM
                    </div>
                </div>
            </div>
            <div class="md:col-span-4 col-span-12">
                <div class="bg-[#fff] h-[350px] flex flex-col items-center justify-center text-center shadow-xl rounded-[15px]">
                    <img src="assets/images/preview-img.png" class="max-w-[150px] mb-3 mx-auto" alt="">
                    <div class="md:text-[30px] text-[20px]">
                        LOREM IPSUM
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 md:gap-x-12 gap-x-2 mt-5 md:mt-10">
            <div class="md:col-span-4 col-span-12">
                <div class="bg-[#fff] h-[350px] flex flex-col items-center justify-center text-center shadow-xl rounded-[15px]">
                    <img src="assets/images/preview-img.png" class="max-w-[150px] mb-3 mx-auto" alt="">
                    <div class="md:text-[30px] text-[20px]">
                        LOREM IPSUM
                    </div>
                </div>
            </div>
            <div class="md:col-span-4 col-span-12">
                <div class="bg-[#fff] h-[350px] flex flex-col items-center justify-center text-center shadow-xl rounded-[15px]">
                    <img src="assets/images/preview-img.png" class="max-w-[150px] mb-3 mx-auto" alt="">
                    <div class="md:text-[30px] text-[20px]">
                        LOREM IPSUM
                    </div>
                </div>
            </div>
            <div class="md:col-span-4 col-span-12 z-[999999]">
                <div class="bg-[#fff] h-[350px] flex flex-col items-center justify-center text-center shadow-xl rounded-[15px]">
                    <img src="assets/images/preview-img.png" class="max-w-[150px] mb-3 mx-auto" alt="">
                    <div class="md:text-[30px] text-[20px]">
                        LOREM IPSUM
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="md:py-12 py-5 lg:px-0 px-3">
    
    <div class="max-w-6xl mx-auto relative">
        <img src="assets/images/it-works-trail.png" class="md:block hidden absolute left-[100px] top-[130px]" alt="">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
              <h5 class="md:text-[34px] text-[28px] montserrat-600 mb-5" data-aos="fade-left">How It Works?</h5>  
            </div>
            <div class="lg:col-span-3 col-span-12">
                <img src="assets/images/works-1.png" class="relative z-[1] mx-auto max-w-[170px]" alt="">
                <span class="capitalize md:text-[20px] montserrat-600 max-w-[180px] mx-auto mt-2 block text-center">
                    Open Parcel Delivery
                </span>
            </div>
            <div class="lg:col-span-3 col-span-12">
                <img src="assets/images/works-2.png" class="relative z-[1] mx-auto max-w-[180px]" alt="">
                <span class="capitalize md:text-[20px] montserrat-600 max-w-[180px] mx-auto mt-2 block text-center">
                    Packaging Video
                </span>
            </div>
            <div class="lg:col-span-3 col-span-12">
                <img src="assets/images/works-3.png" class="relative z-[1] mx-auto max-w-[180px]" alt="">
                <span class="capitalize md:text-[20px] montserrat-600 max-w-[180px] mx-auto mt-2 block text-center">
                    Customer Support
                </span>
            </div>
            <div class="lg:col-span-3 col-span-12">
                <img src="assets/images/works-4.png" class="relative z-[1] mx-auto max-w-[180px]" alt="">
                <span class="capitalize md:text-[20px] montserrat-600 max-w-[180px] mx-auto mt-2 block text-center">
                    Easy Return Policy
                </span>
            </div>
        </div>
    </div>
</div>

<div class="md:py-16 py-5 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12 md:gap-x-4 md:gap-y-0 gap-y-4">
            <div class="col-span-12">
                <h5 class="md:text-[34px] text-[28px] montserrat-700 mb-5 md:mb-10 text-center">
                    Our Stats And Covering All Over The World
                </h5>  
            </div>
            <div class="lg:col-span-3 col-span-12 group">
                <div class="w-full border-[2px] bg-[#000] text-[#fff] min-h-[260px] group-hover:text-[#000] group-hover:bg-[#fff] transition duration-300 ease-in-out cursor-pointer rounded-[5px] border-[#000] flex flex-col px-2 py-5 gap-x-2 gap-y-0 items-center justify-center" data-aos="fade-right">
                    <div>
                        
                        <span class="block capitalize montserrat-700 md:text-[65px] text-[30px]">2000+</span>
                    </div>
                    <div>
                        <span class="block capitalize montserrat-700 md:text-[20px]">Satisfied Customers</span>
                    </div>
                </div>
            </div>
            <div class="lg:col-span-3 col-span-12 group">
                <div class="w-full border-[2px] bg-[#000] text-[#fff] min-h-[260px] group-hover:text-[#000] group-hover:bg-[#fff] transition duration-300 ease-in-out cursor-pointer rounded-[5px] border-[#000] flex flex-col px-2 py-5 gap-x-2 gap-y-0 items-center justify-center" data-aos="fade-right">
                    <div>
                        
                        <span class="block capitalize montserrat-700 md:text-[65px] text-[30px]">50+</span>
                    </div>
                    <div>
                        <span class="block capitalize montserrat-700 md:text-[20px]">Premium Products</span>
                    </div>
                </div>
            </div>
            <div class="lg:col-span-3 col-span-12 group">
                <div class="w-full border-[2px] bg-[#000] text-[#fff] min-h-[260px] group-hover:text-[#000] group-hover:bg-[#fff] transition duration-300 ease-in-out cursor-pointer rounded-[5px] border-[#000] flex flex-col px-2 py-5 gap-x-2 gap-y-0 items-center justify-center" data-aos="fade-right">
                    <div>
                        
                        <span class="block capitalize montserrat-700 md:text-[65px] text-[30px]">10+</span>
                    </div>
                    <div>
                        <span class="block capitalize montserrat-700 md:text-[20px]">Years of Excellence</span>
                    </div>
                </div>
            </div>
            <div class="lg:col-span-3 col-span-12 group">
                <div class="w-full border-[2px] bg-[#000] text-[#fff] min-h-[260px] group-hover:text-[#000] group-hover:bg-[#fff] transition duration-300 ease-in-out cursor-pointer rounded-[5px] border-[#000] flex flex-col px-2 py-5 gap-x-2 gap-y-0 items-center justify-center" data-aos="fade-right">
                    <div>
                        
                        <span class="block capitalize montserrat-700 md:text-[65px] text-[30px]">20k+</span>
                    </div>
                    <div>
                        <span class="block capitalize montserrat-700 md:text-[20px]">Items Sold</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-[#000] md:py-16 py-8 border-[#fff] border-b-[1px] border-t-0 border-l-0 border-r-0 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto">
      <form [formGroup]="newsletterForm" (ngSubmit)="onSubscribe()">
        <div class="grid grid-cols-12">
            <div class="col-span-12 text-center">
                <h4 class="text-[#fff] montserrat-700 md:text-[34px] capitalize">Subscribe Newsletter</h4>
            </div>
            <div class="col-span-12 text-center">
                
                    <input
                        type="email"
                        formControlName="email"
                        placeholder="Enter Your Email"
                        class="md:h-[70px] md:w-[650px] w-[280px] max-w-[100%] text-center mt-3 mb-5 rounded-[5px]"
                        [ngClass]="{'border-red-500': newsletterForm.get('email')?.invalid && newsletterForm.get('email')?.touched}"
                    />
                    <div *ngIf="newsletterForm.get('email')?.invalid && newsletterForm.get('email')?.touched" class="text-red-500">
                        Please enter a valid email address.
                    </div>
            </div>
            <div class="col-span-12 text-center">
              <button
              type="submit"
              [disabled]="newsletterForm.invalid"
              class="border-[#fff] border-[2px] text-[#fff] md:h-[60px] md:w-[340px] md:py-0 py-1 w-[160px] max-w-[100%] text-center rounded-[5px] montserrat-700 md:mt-4 mt-0">Subscribe</button>
            </div>
            <div class="col-span-12">
                <p *ngIf="newsletterSuccess" class="text-[#fff] text-center mt-5">You have been subscribed to newsletter successfully!</p>
            </div>
        </div>
      </form>
    </div>
</div>