<div class="bg-[#0000]/50 min-h-[200px] md:py-0 py-8 w-full relative flex flex-col items-center justify-center md:gap-y-3 gap-y-1">
    <img src="assets/images/about-bg.png" class="w-full h-full absolute left-0 top-0 max-h-[200px] object-cover" alt="">
    <div class="relative z-[1] text-center max-w-[1000px] mx-auto">
        <div class="montserrat-600 text-[#fff] lg:text-[26px] mb-2" data-aos="fade-up">
            HOW TO CHECK YOUR SIZE
        </div>
        <!-- <div class="montserrat-500 text-[#fff]" data-aos="fade-up">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        </div> -->
    </div>
</div>

<div class="md:py-12 py-5 lg:px-0 px-3 relative">
    <img src="assets/images/size-route.png" class="absolute left-[50%] translate-x-[-50%] top-[17%] md:block hidden max-w-[900px]" alt="">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12 md:mb-8 mb-5">
            <div class="col-span-12">
              <h5 class="md:text-[34px] text-[28px] montserrat-600 mb-0 capitalize" data-aos="fade-left">how to figure out your shoe size</h5>  
            </div>
        </div>
    </div>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12">
        <div class="md:col-span-4 col-span-12">
            <h5 class="md:text-[20px] text-[15px] montserrat-600 mb-0 capitalize mt-2 mb-1" data-aos="fade-left">
                1. Prepare Your Paper:
            </h5>  
            <p class="capitalize md:text-[16px] text-[14px]">
                Place a sheet of plain paper on a flat, safe indoor surface. Ensure it's big enough for your foot.
            </p>
            <img src="assets/images/size_step_1.webp" class="w-full mt-4 max-w-[300px] relative z-[2]" alt="">
        </div>
        <div class="md:col-span-4 col-span-12">&nbsp;</div>
        <div class="md:col-span-4 col-span-12">&nbsp;</div>
    </div>
    </div>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12">
        <div class="md:col-span-4 col-span-12">&nbsp;</div>
        <div class="md:col-span-4 col-span-12">&nbsp;</div>
        <div class="md:col-span-4 col-span-12">
            <h5 class="md:text-[20px] text-[15px] montserrat-600 mb-0 capitalize mt-2 mb-1" data-aos="fade-left">
                2. Position Your Foot:
            </h5>  
            <p class="capitalize md:text-[16px] text-[14px]">
                Stand on the paper with your bare foot, ensuring it's centered and not hanging off the paper.
            </p>
            <img src="assets/images/size_step_2.webp" class="w-full mt-4 max-w-[300px] relative z-[2]" alt="">
        </div>
    </div>
    </div>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12">
        <div class="md:col-span-4 col-span-12">
            <h5 class="md:text-[20px] text-[15px] montserrat-600 mb-0 capitalize mt-2 mb-1" data-aos="fade-left">
                3. Trace Your Foot:
            </h5>  
            <p class="capitalize md:text-[16px] text-[14px]">
                Use a pencil to trace the outline of your foot, keeping it close to your foot's edge. It's easier with help from a friend for accuracy.

            </p>
            <img src="assets/images/size_step_3.webp" class="w-full mt-4 max-w-[300px] relative z-[2]" alt="">
        </div>
        <div class="md:col-span-4 col-span-12">&nbsp;</div>
        <div class="md:col-span-4 col-span-12">&nbsp;</div>
    </div>
    </div>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12">
        <div class="md:col-span-4 col-span-12">&nbsp;</div>
        <div class="md:col-span-4 col-span-12">&nbsp;</div>
        <div class="md:col-span-4 col-span-12">
            <h5 class="md:text-[20px] text-[15px] montserrat-600 mb-0 capitalize mt-2 mb-1" data-aos="fade-left">
                4. Measure Your Sketch:
            </h5>  
            <p class="capitalize md:text-[16px] text-[14px]">
                Use a ruler or measuring tape to measure from the heel to the top of your tallest toe on your foot sketch. Remember, the unit of measurement is in centimeters (CM). Write down these measurements for both feet.

            </p>
            <img src="assets/images/size_step_4.webp" class="w-full mt-4 max-w-[300px] relative z-[2]" alt="">
        </div>
    </div>
    </div>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <h5 class="md:text-[20px] text-[15px] montserrat-600 mb-0 capitalize mt-2 mb-1" data-aos="fade-left">
                    Find Your Shoe Size:
                </h5>  
                <p class="capitalize md:text-[16px] text-[14px]">
                    To determine your shoe size, compare your measurements in CM to the shoe size chart below, specifically focusing on the EU column. Locate where your measurements fall in the EU column to figure out your shoe size. Use the Men Chart if you are a man and Women Chart if you are a woman.
                </p>
            </div>
            <div class="md:col-span-3"></div>
            <div class="md:col-span-6 md:mt-12 mt-5 col-span-12">
                <div class="grid grid-cols-12">
                    <div class="col-span-6">
                        <img src="assets/images/size-1.png" class="w-full" alt="">
                    </div>
                    <div class="col-span-6">
                        <img src="assets/images/size-2.png" class="w-full" alt="">
                    </div>
                </div>
            </div>
            <div class="md:col-span-3"></div>
            
        </div>
    </div>
</div>
