<header>
  <app-navbar></app-navbar>
</header>
<main>
  <router-outlet />
</main>
<!-- <div class="bg-[#000] md:py-16 py-8 border-[#fff] border-b-[1px] border-t-0 border-l-0 border-r-0 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto">
      <form [formGroup]="newsletterForm" (ngSubmit)="onSubscribe()">
        <div class="grid grid-cols-12">
            <div class="col-span-12 text-center">
                <h4 class="text-[#fff] montserrat-700 md:text-[34px] capitalize">SUBSCRIBE NEWSLETTER</h4>
            </div>
            <div class="col-span-12 text-center">
                
                    <input
                        type="email"
                        formControlName="email"
                        placeholder="ENTER YOUR EMAIL"
                        class="md:h-[70px] md:w-[650px] w-[280px] max-w-[100%] text-center mt-3 mb-5 rounded-[5px]"
                        [ngClass]="{'border-red-500': newsletterForm.get('email')?.invalid && newsletterForm.get('email')?.touched}"
                    />
                    <div *ngIf="newsletterForm.get('email')?.invalid && newsletterForm.get('email')?.touched" class="text-red-500">
                        Please enter a valid email address.
                    </div>
            </div>
            <div class="col-span-12 text-center">
              <button
              type="submit"
              [disabled]="newsletterForm.invalid"
              class="border-[#fff] border-[2px] text-[#fff] md:h-[60px] md:w-[340px] md:py-0 py-1 w-[160px] max-w-[100%] text-center rounded-[5px] montserrat-700 md:mt-4 mt-0">SUBSCRIBE</button>
            </div>
            <div class="col-span-12">
                <p *ngIf="newsletterSuccess" class="text-[#fff] text-center mt-5">You have been subscribed to newsletter successfully!</p>
            </div>
        </div>
      </form>
    </div>
</div> -->
<app-footer></app-footer>