<div class="bg-[#0000]/50 min-h-[200px] md:py-0 py-8 w-full relative flex flex-col items-center justify-center md:gap-y-3 gap-y-1">
    <img src="assets/images/about-bg.png" class="w-full h-full absolute left-0 top-0 max-h-[200px] object-cover" alt="">
    <div class="relative z-[1] text-center max-w-[1000px] mx-auto">
        <div class="montserrat-600 text-[#fff] lg:text-[26px] mb-2" data-aos="fade-up">
            How To Place An Order
        </div>
        <div class="montserrat-500 text-[#fff]" data-aos="fade-up">
            Kubona is a Premium fashion retail brand that serves as the recommended source of Premium items that empower our customers to express their life aspirations and accomplishments through fashion.
        </div>
    </div>
</div>

<div class="md:pt-12 md:pb-0 py-5 lg:px-0 px-3">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
              <h5 class="md:text-[34px] text-[28px] montserrat-600 mb-0" data-aos="fade-left">How To Place An Order?</h5>  
              <p class="capitalize md:text-[16px] text-[14px]">
                Kubona.ng is an online catalog showcasing our available products. Every product listed on the website is in stock at our warehouse. Here are the various methods for shopping through kubona.ng:
              </p>

                <h5 class="md:text-[20px] text-[15px] montserrat-600 mb-0 capitalize mt-2 mb-1" data-aos="fade-left">
                    1. Shop at our warehouse:
                </h5>  
                <ul class="list-disc pl-5 md:pl-10 mb-3">
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Visit our physical shop located at Oniru, Lekki. You can find directions and our opening hours by clicking here.
                        </p>
                    </li>
                </ul>

                <h5 class="md:text-[20px] text-[15px] montserrat-600 mb-0 capitalize mt-2 mb-1" data-aos="fade-left">
                    2. Shop by website
                </h5>  
                <ul class="list-disc pl-5 md:pl-10 mb-3">
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Browse through our online catalog.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Click on the image of the desired item to access the product details page.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Select your size and/or color and click "Buy now." This action will take you to the order page.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Enter your phone number and click "Order via WhatsApp."
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            You'll be directed to WhatsApp, where we'll process your order.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Expect delivery within 1-3 business days in Lagos, or 3-7 business days outside Lagos through our third-party courier partners.
                        </p>
                    </li>
                </ul>

                <h5 class="md:text-[20px] text-[15px] montserrat-600 mb-0 capitalize mt-2 mb-1" data-aos="fade-left">
                    3. Shop by WhatsApp
                </h5>  
                <ul class="list-disc pl-5 md:pl-10 mb-3">
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Browse our online catalog.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Take note of the product description or code of the item you desire, and take a screenshot if possible.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Send the code (and the screenshot if available), along with your size, name, and delivery address, to 07036110000 via WhatsApp.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            We will process your order and send order details to you through WhatsApp.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Expect delivery within 1-3 business days in Lagos, or 3-7 business days outside Lagos via our third-party courier partners.
                        </p>
                    </li>
                </ul>

                <h5 class="md:text-[20px] text-[15px] montserrat-600 mb-0 capitalize mt-2 mb-1" data-aos="fade-left">
                    4. Shop by Phone call
                </h5>  
                <ul class="list-disc pl-5 md:pl-10 mb-3">
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Browse through our online catalog.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Note the product description or code of the item you wish to purchase.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Call us at 07036110000 between 9:00 am and 6:00 pm Nigerian time.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Provide the agent with the product code, your delivery address, and your preferred payment method.
                        </p>
                    </li>
                    <li>
                        <p class="capitalize md:text-[16px] text-[14px]">
                            Expect delivery within 1-3 business days in Lagos, or 3-7 business days outside Lagos via our third-party courier partners.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="md:pb-12 py-5 lg:px-0 px-3">
    
    <div class="max-w-6xl mx-auto relative">
        <img src="assets/images/it-works-trail.png" class="md:block hidden absolute left-[100px] top-[60px]" alt="">
        <div class="grid grid-cols-12">
            <div class="lg:col-span-3 col-span-12">
                <img src="assets/images/works-1.png" class="relative z-[1] mx-auto max-w-[170px]" alt="">
                <span class="capitalize md:text-[20px] montserrat-600 max-w-[180px] mx-auto mt-2 block text-center">
                    Open Parcel Delivery
                </span>
            </div>
            <div class="lg:col-span-3 col-span-12">
                <img src="assets/images/works-2.png" class="relative z-[1] mx-auto max-w-[180px]" alt="">
                <span class="capitalize md:text-[20px] montserrat-600 max-w-[180px] mx-auto mt-2 block text-center">
                    Packaging Video
                </span>
            </div>
            <div class="lg:col-span-3 col-span-12">
                <img src="assets/images/works-3.png" class="relative z-[1] mx-auto max-w-[180px]" alt="">
                <span class="capitalize md:text-[20px] montserrat-600 max-w-[180px] mx-auto mt-2 block text-center">
                    Customer Support
                </span>
            </div>
            <div class="lg:col-span-3 col-span-12">
                <img src="assets/images/works-4.png" class="relative z-[1] mx-auto max-w-[180px]" alt="">
                <span class="capitalize md:text-[20px] montserrat-600 max-w-[180px] mx-auto mt-2 block text-center">
                    Easy Return Policy
                </span>
            </div>
        </div>
    </div>
</div>
